<% if (locals.user) { %>
<h1><%= locals.user.username %>'s profile</h1>
<table class="profile">
  <thead>
    <tr>
      <th>Profile image</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="" alt="profile">
      </td>
      <td>
        <%= locals.user.username %>
      </td>

      <td class="text-nowrap">
          <a class="deleteButton" href="./account/<%= locals.user.id %>/delete">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h1>There is no profile</h1>
<br><br><br>
<a class="enter-button" href="./account/create">Create account</a>
<% } %>
