html {
    position: relative;
    min-height: 100%;
  }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  text-align: center;
}

button {
  margin-top: 20px;
}

.enter-button {
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
  margin: 30px;
  font-size: 2rem;
  text-decoration: none;
  color: #212529;
  white-space: nowrap;
  background-color: #fdeb60;
  box-shadow: 5px 5px 10px 5px #21252980;
}

.enter-button:hover {
  background-color: #FFE000;
  color: #14171a;
  box-shadow: 2px 2px 5px 2px #21252980;
}

body > .container {
  padding: 60px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.rounded-symbol {
  border-radius: 50%!important;
  background-color: #FFE000;
  padding:4px;
}

