<footer class="footer">
    <div class="container">
      <p class="text-muted">Made by Jennifer von Trotta-Treyden for 1DV026 @ <a href="https://lnu.se/" target="blank">LNU</a>.</p>
    </div>
  </footer>
  