<h1>Create a snippet</h1>
  <form class="row g-3" method="post" action="./snippets/create">
    <div class="col-md-12">
      <textarea class="form-control" id="descriptionInput" name="description" placeholder="Enter your snippet here" rows="15" required autofocus></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
