<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="frontPage">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        A snippet application!
      </h1>
      <p>To be able to create and edit snippets please login</p>
    </div>
  </div>

  <br><br><br>

  <div class="container">
    <a href="./account/login" class="enter-button">Login</a>
    <a href="./snippets" class="enter-button">Enter as anonymous</a>
  </div>
</div>